/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset here */

/* Overall basic font setting  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Sawarabi Gothic', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
/* End of basic setting */

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 580px;
}

/* Set all pictures in different sizes are all take 100% width */
picture img, picture source {
    max-width: 100%;
}

/* Set logo size to match the heading */
.logo {
    width:80px;
    height: auto;
}

/* Style the header to create a collasible hamburger menu*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    border: 1px solid black;
}

nav ul li {
    padding: 10px 20px;
    width: 120px;
    text-align: center;
    border-bottom: 1px solid black;
}

nav ul li:nth-child(6) {
    border-bottom: 0;
}

nav ul li:nth-child(1), nav ul li:nth-child(3), nav ul li:nth-child(4) {
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

.hamburger {
    padding-top: 10px;
    padding-left: 10px;
}

/* make the chekcbox to be a hamburger menu */
label {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 3rem;
    display: block;
    background: url(../images/hamburger.svg) no-repeat right center;
    background-size: cover;
}

/* hide the check box */
input#menu {
    display: none;
}

/* when clikc the check box, change the menu's background to create a collasp effect */
input:checked + label {
    background-image: url(../images/close.svg);
}

/* menu collapsed by default */
nav {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 50px;
}

/* when click shows the menu */
input:checked ~ nav {
    max-height: 100%;
}

/* Style the header to fit the screen size */


/* Style home page discount part */
.promote {
    font-family: 'Comic Neue', cursive;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.promote :first-child {
    width: 100%;
    text-align: center;
}
.promote .discount {
    color: #359479;
    font-size: 2rem;
}

.promote p:nth-child(2) {
    text-align: center;
    width: 100%;
}

.promote i {
    padding-right: 10px;
}

/* put the button on the right side and add a hover effect */
.promote button {
    float: right;
    width: 40%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s;
}

.promote button:hover {
    background-color: white;
    color: black;
}

/* Style the welcome part */
.welcome .button {
    text-align: center;
    margin: 20px auto;
}

.button button {
    padding: 10px 20px;
    width: 150px;
    background-color: black;
}

.button a {
    text-decoration: none;
    color: white;
}