/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset here */

/* Overall basic font setting  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Sawarabi Gothic', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Define custom colors */
body {
    --link-color: #ED8922;
    --discount-color: #359479;
    --green-background-color: rgba(161, 217, 211, 20%);
    --yellow-background-color: rgba(244, 225, 199, 20%);

}

/* End of basic setting */

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    min-width: 580px;
    max-width: 1000px;
}

/* Set all pictures in different sizes are all take 100% width */
picture img, picture source {
    max-width: 100%;
}

/* Set logo size to match the heading */
.logo {
    width:80px;
    height: auto;
    /* align-self: center; */
}

.logo > svg {
    margin-top: 15px;
}

/* Style the header to create a collasible hamburger menu*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul {
    border: 1px solid black;
    background-color: white;
}

nav ul li {
    padding: 10px 20px;
    width: 120px;
    text-align: center;
    border-bottom: 1px solid black;
}

nav ul li:nth-child(6) {
    border-bottom: 0;
}

nav ul li:nth-child(1), nav ul li:nth-child(3), nav ul li:nth-child(4) {
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

.hamburger {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    position: relative;
}

.navigation {
    position: absolute;
}

/* make the chekcbox to be a hamburger menu */
.nav-label {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 3rem;
    display: block;
    background: url(../images/hamburger.svg) no-repeat right center;
    background-size: cover;
    order: 1;
}

/* hide the check box */
input#menu {
    display: none;
}

/* when clikc the check box, change the menu's background to create a collasp effect */
input:checked + label {
    background-image: url(../images/close.svg);
}

/* menu collapsed by default */
nav {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 50px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
}

/* when click shows the menu */
input:checked ~ nav {
    max-height: 100%;
    overflow: visible;
}

/* Style the header to fit the screen size */


/* Style home page discount part */
.promote {
    font-family: 'Comic Neue', cursive;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.promote :first-child {
    width: 100%;
    text-align: center;
}
.promote .discount {
    /* use customed discount color */
    color: var(--discount-color);
    font-size: 2rem;
}

.promote p:nth-child(2) {
    text-align: center;
    width: 100%;
}

.promote i {
    padding-right: 10px;
}

/* put the button on the right side and add a hover effect */
.promote button {
    float: right;
    width: 40%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s;
}

.promote button:hover {
    background-color: white;
    color: black;
}

/* Style the welcome part */
.welcome .welcome-button {
    text-align: center;
    margin: 20px auto;
}

.welcome-button button {
    padding: 10px 20px;
    width: 150px;
    background-color: black;
}

.welcome-button button {
    text-decoration: none;
    color: white;
}

/* Style the service part by using grid area */
.service {
    display: grid;
    grid-template-areas: 
    "head head"
    "statement equipment"
    "oil formula"
    ;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.service h2 {
    grid-area: head;
}

.statement {
    grid-area: statement;
}

.equipment {
    grid-area: equipment;
}

.oil {
    grid-area: oil;
}

.formula {
    grid-area: formula;
}

/* Style the service units */
.service a {
    /* use customed link color */
    color: var(--link-color);
}

.equipment p, .oil p, .formula p {
    text-align: center;
}

.service picture source, .service picture img {
    border-radius: 100px;
    width: 100%;
}

/* Style the announcement part */
.announcement {
    /* using cunstomed yellow background color */
    background-color: var(--yellow-background-color);
    padding: 10px;
    margin-top: 20px;
}

.announcement p:nth-child(3) {
    margin-top: 10px;
}

.announcement iframe {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 1px groove rgba(167, 167, 167, 40%);
}

.announcement a {
    /* use customed link color */
    color: var(--link-color);
}

/* Style the activity part */
.activity {
    /* using cunstomed green background color */
    background-color: var(--green-background-color);
    margin: 20px auto;
    padding: 10px;
}

.activity p i {
    font-size: 1.2rem;
    font-weight: bold;
}

.activity h2 {
    margin-bottom: 10px;
}

.activity h3 {
    margin-top: 10px;
    font-weight: lighter;
}

.discount-info {
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.activity .discount-info p i {
    /* use customed discount color */
    color: var(--discount-color);
    font-size: 1.5rem;
}

.join-button {
    text-align: center;
    margin: 10px auto;
}

.join-button button {
    width: 150px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: 0.2s;
}

.join-button button:hover {
    background-color: white;
    color: black;
}

/* Add some space before discount number */
.activity .discount-info p i::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

/* Style the product list part, using grid */
.product {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}

.item:first-child {
    grid-column: 1/2;
    margin-left: 30px;
}

.item:nth-child(2) {
    grid-column: 2/3;
    margin-right: 30px;
}

.pages {
    grid-column: 1/3;
}

.item picture source, .item picture img {
    border-radius: 40px;
}

.item .product-button{
    text-align: center;
}

.item .product-button button {
    padding: 10px 20px;
    width: 150px;
    background-color: black;
    color: white;
}

/* Style the product page part */
.product .pages {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.product .pages i {
    padding: 10px;
}

/* Style the footer */
footer {
    background: rgba(0, 0, 0, 10%);
    margin-top: 20px;
}

.footer-info{
    display: flex;
}

footer .contact, footer .follow {
    padding-top: 10px;
    flex-basis: 50%;
}

.footer-info a {
    /* again, use customed link color */
    color: var(--link-color);
}

/* use ">" to select direct child p tag */
footer .wrapper > p {
    text-align: end;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    padding-right: 10px;
}

/* use attribute selector to select the link to unsplash */
a[href="https://unsplash.com/"] {
    color: var(--link-color);
}
/* End of Home page styling */

/* Style the about page */
/* Style the about pge banner and history info*/
.about-banner source, .about-banner img {
    margin: 20px auto;
}

.history h2 {
    margin-bottom: 10px;
}

.history p {
    margin: 10px auto;
}

/* Style the mission statement info */
.mission p {
    margin: 10px auto;
    /* using customed yellow background color */
    background-color: var(--yellow-background-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Style the vision statement info */
.vision h2 {
    margin: 10px auto;
}

.vision p {
    margin: 10px auto;
    /* using cunstomed green background color */
    background-color: var(--green-background-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.vision .vision-button {
    text-align: center;
}

.vision .vision-button button {
    width: 150px;
    padding: 5px 20px;
    background-color: black;
    color: white;
}
/* End of About page styling */

/* Style the Contact page */
/* Style the Contact page banner and introduction info*/
.contact-form source, .contact-form img {
    margin: 20px auto 10px auto;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form p {
    margin: 10px auto;
}

/* Style the contact form */
.contact-form form {
    /* use the cunstomed yellow background color */
    background-color: var(--yellow-background-color);
    padding: 10px;
}

/* Add * to the head of all lables */
.contact-form form label::before {
    content: "*";
}

.contact-form form label {
    display: inline-block;
    width: 80px;
}

.contact-form form input, .contact-form form textarea {
    display: inline-block;
    width: calc(100% - 100px);
}

.contact-form form > div {
    margin: 10px auto;
}

.contact-form .submit-button {
    text-align: end;
}

.contact-form .submit-button button {
    width: 150px;
    padding: 5px 20px;
    background-color: black;
    color: white;
}

/* Style the contact info */
.contact-info {
    /* use the cunstomed green background color */
    background-color: var(--green-background-color);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-info p:first-child {
    text-align: start;
}

.contact-info p:nth-child(2) {
    padding-left: 40px;
    font-size: 1.2rem;
}

.contact-info p:last-child {
    font-style: italic;
    padding-left: 40px;
}

/* Style the address info */
.address-info {
    /* use the cunstomed yellow background color */
    background-color: var(--yellow-background-color);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.address-info p:first-child {
    text-align: start;
}

.address-info p:nth-child(2) {
    padding-left: 40px;
    font-size: 1.2rem;
}

.address-info p:nth-child(3) {
    padding-left: 40px;
    font-style: italic;
}

.address-info iframe {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border: 1px groove rgba(167, 167, 167, 40%);
}

/* Style the statement info */
.statement-info {
    margin-bottom: 20px;
}

.statement-info a {
    /* use the cunstomed link color */
    color: var(--link-color);
}

.statement-info p {
    margin: 10px auto;
}

/* Sthle the FAQ part */
/* use child selector to select wanted tags */
.faq > div {
    padding-left: 10px;
}

.faq > div p {
    font-style: italic;
    color: gray;
}

.faq > p {
    text-align: end;
}

.faq > p a {
    color: var(--link-color);
}

/* add margin to the skip content link */
a[href="#maincontent"] {
    display: block;
    margin-bottom: 20px;
}

/* add animation */
/* when hover a clickble menu button, make it bigger */
.hamburger nav ul li a {
    display: inline-block;
    transition: 0.5s;
}

.hamburger nav ul li a:hover {
    transform: scale(1.4);
}

/* add fadein effect to all images. Using animation from "animate.style" */
.logo, picture source, picture img {
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* use animation property add animation to normal button */
@keyframes noticing {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.nor-button {
    animation: noticing 2s infinite;

}

/* when hover on the button change bg color and font color */
.nor-button:hover {
    transform: translateY(-6px);
    background-color: white;
    color: black;
}